{% extends './base.html' %} {% block content %}
<div class="container">
    <div class="display-6 p-4 bg-white bg-opacity-75">
        <div class="h5">
            Добро пожаловать в Mailling Service – ваш надёжный помощник в
            организации эффективных и персонализированных электронных
            рассылок.<br />
            <br />
            Мы стремимся упростить процесс взаимодействия с вашей аудиторией,
            предоставляя мощные инструменты для создания, управления и анализа
            рассылок. Наши возможности включают в себя: Гибкие настройки
            шаблонов для создания уникального дизайна писем. Интеграцию с
            различными CRM системами для удобного управления контактами.
            Аналитику результатов рассылок для повышения их эффективности.
            Поддержку множественных языков и персонализацию контента.<br />
            <br />
            Наша цель – помочь вашему бизнесу достигать новых высот в
            коммуникации с клиентами.<br />
            <br />
            Присоединяйтесь к нам и начните использовать наши инструменты уже
            сегодня!
        </div>
    </div>
</div>
{% endblock content %}
