{% extends './base.html' %} {% block content %}
<div class="container">
    <div class="display-6 p-4 bg-white bg-opacity-75">
        <div class="h5">
            Свяжитесь с нами для получения дополнительной информации о нашем
            сервисе Mailling Service или для решения любых вопросов. Мы всегда
            готовы помочь вам оптимизировать вашу стратегию электронных рассылок
            и повысить эффективность взаимодействия с вашей аудиторией.<br />
            <br />
            Наши контактные данные:<br />
            <br />
            Телефон: +1-234-567-8901<br />
            Email: info@maillingservice.com<br />
            Адрес: Ул. Пушкина, д. Колотушкина, офис 101<br />
            Мы также доступны в социальных сетях:<br />
            <br />
            Facebook<br />
            Twitter<br />
            LinkedIn<br />
            Не стесняйтесь связаться с нами – мы с нетерпением ждём возможности
            помочь вам достичь ваших целей!<br />
        </div>
    </div>
</div>
{% endblock content %}
